<h1>Как с нами связатся</h1>
<p>Мы большая организация и есть много способов связаться с нами. Эта страница описывает те способы связи, которые нужны чаще всего, но эта информация ни в коем случае не является исчерпывающей. Об остальных способах вы можете узнать на других web-страницах.

Обратите внимание на то, что большинство адресов e-mail указанных ниже являются открытыми почтовыми рассылками с публичными архивами. Перед отправкой любого сообщения прочтите дисклаймер.

Основной язык общения с разработчиками — русский. Поэтому мы просим, чтобы первичные вопросы к разработчикам делались на русском языке. Если это невозможно, пожалуйста, поищите в каталоге список рассылки для пользователей на вашем языке.

Большая часть информации собрана на нашем web-сайте. Так что, пожалуйста, прежде чем связываться с нами, посмотрите на сайте и поищите на нём нужную информацию.

Если вы не нашли ответа на свой вопрос в документации, прилагаемой к носителям дистрибутива, и на нашем web-сайте, то можете обратиться к очень активному списку рассылки, где на ваши вопросы могут ответить пользователи и разработчик, списку рассылки debian-user.</p>